div.fluid {
width:90%!important;
}

div.fixed {
width:975px!important;
margin:0;
padding:0;
}

body {
background-color:#cc9;
color:#585858;
font-size:9pt;
font-family:"trebuchet ms", helvetica, sans-serif;
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
letter-spacing:-1px;

}

h3,h4,h5,h6 {
color:#184366;
}

br.clear {
clear:both;
}

img {
border:0;
}

img.floatTL {
border:solid 0 #e1e1e1;
float:left;
margin-right:1.5em;
margin-bottom:1.5em;
margin-top:.5em;
padding:3px;
}

img.floatTR {
border:solid 0 #e1e1e1;
float:right;
margin-right:1.5em;
margin-bottom:1.5em;
margin-top:.5em;
padding:3px;
}

a {
text-decoration:none;
color:#F16C00;
}

a:hover {
text-decoration:none;
color:#000;
}

ul.links li {
line-height:1em;
}

p {
line-height:1.8em;
overflow:auto;
}

.tableline {
background:#cc9;
color:#585858;
border:1px dotted #e3e3cf;
margin:5px;
padding:0 7px;
}

.tableline.ul {
display:inline;
list-style:none;
margin:0;
padding:0;
}

#header {
width:100%;
height:122px;
background:#004080 url(../images/n1.gif) repeat-x;
}

#header_inner {
position:relative;
width:100%;
height:91px;
margin:0 auto;
}

#logo {
position:relative;
bottom:.6em;
}

#logo_right {
position:relative;
left:160px;
bottom:7em;
}

#logo h1 {
display:inline;
color:#fff;
font-size:2.6em;
}

#logo h2 {
display:inline;
padding-left:.5em;
color:#D2DCE5;
font-size:1em;
}

#menu {
position:absolute;
right:0;
bottom:0;
}

#menu li {
float:left;
}

#menu li a {
margin-left:.5em;
display:block;
background:#fff url(../images/n4.gif) repeat-x;
border:solid 1px #fff;
color:#616161;
font-weight:700;
font-size:1em;
text-decoration:none;
padding:1.1em 1.4em 1em;
}

#menu li a.active {
background:#FF790B url(../images/n3.gif) repeat-x;
color:#fff;
border:solid 1px #DB7623;
}

#main {
background:#cc9 url(../images/n2.gif) repeat-x;
}

#main_inner p {
text-align:left;
margin-bottom:2em;
overflow:auto;
margin-right:1em;
}

#main_inner ul {
margin-bottom:1em;
}

#main_inner {
position:relative;
width:950px;
padding-top:3.5em;
margin:0 auto;
}

#main_inner h3 {
font-size:2.1em;
padding-bottom:.1em;
margin-bottom:.1em;
border-bottom:solid 1px #E1E1E1;
overflow:auto;
position:relative;
margin-right:1em;
}

#main_inner h4 {
font-size:1.2em;
padding-bottom:.175em;
margin-bottom:1.4em;
margin-top:2em;
border-bottom:solid 1px #E1E1E1;
overflow:auto;
position:relative;
margin-right:1em;
}

#main_inner .post h3 {
position:relative;
font-size:1.7em;
padding-bottom:.1em;
}

#main_inner .post ul.post_info {
list-style:none;
position:relative;
top: -1.9em;
font-size:.8em;
}

#main_inner .post ul.post_info li {
background-position:0 .2em;
background-repeat:no-repeat;
display:inline;
padding-left:18px;
}

#main_inner .post ul.post_info li.date {
background-image:url(../images/n5.gif);
}

#main_inner .post ul.post_info li.comments {
background-image:url(../images/n6.gif);
margin-bottom:1.1em;
}

#main_inner .post ul.ar_post_info {
list-style:none;
position:relative;
top:-.5em;
font-size:.8em;
}

#main_inner .post ul.ar_post_info li {
background-position:0 .2em;
background-repeat:no-repeat;
display:inline;
padding-left:18px;
}

#main_inner .post ul.ar_post_info li.date {
background-image:url(../images/n5.gif);
}

#main_inner .post ul.ar_post_info li.comments {
background-image:url(../images/n6.gif);
margin-bottom:1.1em;
}

#footer {
width:950px;
text-align:center;
clear:both;
border-top:dotted 1px #E1E1E1;
padding-top:1em;
margin:1em auto;
}

input {
background:#fff;
color:#585858;
border:solid 1px #DB7623;
font-weight:700;
font-size:.8em;
height:2em;
}
option {
   	background-color:#fff;        	
}

input.text {
border:solid 1px #F1F1F1;
font-size:1em;
padding:.25em;
}

#primaryContent_3columns {
position:relative;
margin-right:34em;
}

#columnA_3columns {
position:relative;
float:left;
width:100%;
margin-right:-34em;
padding-right:2em;
}

.columnX_Xcolumns {
width:26em;
border-left:dotted 1px #E1E1E1;
padding:0 2em .5em;
}

#columnB_3columns {
width:13em;
float:left;
border-left:dotted 1px #E1E1E1;
padding:0 2em .5em;
}

#columnC_3columns {
width:13em;
float:left;
border-left:dotted 1px #E1E1E1;
margin-left:2em;
margin-right:-2em;
padding:0 2em .5em;
}

#primaryContent_2columns {
position:relative;
margin-right:19em;
}

#columnA_2columns {
position:relative;
float:left;
width:100%;
margin-right:-17em;
padding-right:2em;
}

#columnC_2columns {
width:13em;
float:left;
border-left:dotted 1px #E1E1E1;
padding:0 0 .5em 2em;
}

#columnA_columnless {
position:relative;
width:100%;
}

.tables {
border:1px dotted #f2f2f2;
background-color:#cc9;
margin:10px;
padding:0 5px;
}

table.gcal-block-cal {
width:100%;
border-color:#000;
border-style:solid;
border-width:1px;
}

table.gcal-block-cal a.today {
color:#FFF;
}

table.gcal-block-cal th {
color:#516A88;
text-align:center;
background-image:url(../forums/images/cellpic6.gif);
font-size:10px;
border-color:#000;
border-style:outset;
border-width:1px;
padding:1px;
}

table.gcal-block-cal td {
text-align:center;
border-style:hidden;
border-width:1px;
padding:1px;
}

table.gcal-block-cal td.day-event {
border:solid 1px teal;
}

table.gcal-block-cal td.today-no-event {
background-image:url(../forums/images/cellpic6.gif);
color:#516A88;
border-color:#000;
border-style:outset;
}

table.gcal-block-cal td.today-event {
background-image:url(../forums/images/cellpic6.gif);
font-weight:700;
border-color:#000;
border-style:outset;
}

table.gcal-block-events {
border:solid 1px #000;
width:100%;
}

table.gcal-month {
width:100%;
border-color:#000;
border-style:solid;
border-width:1px;
padding:1px;
}

table.gcal-month th {
color:#516A88;
text-align:center;
background-image:url(../forums/images/cellpic6.gif);
border:outset 1px #000;
padding:2px;
}

table.gcal-month td {
border:outset 1px #000;
height:75px;
margin:0;
padding:2px;
}

table.gcal-month td.no-day {
background-color:#d2d5d8;
}

table.gcal-month td.weekend {
background-color:#c4d2e3;
}

table.gcal-month td.today {
background-color:#88b2e6;
}

table.gcal-month a.day-link {
font-size:20px;
background:none;
color:#000;
}

table.gcal-event {
width:80%;
border-color:#000;
border-style:solid;
border-width:1px;
padding:0;
}

table.gcal-event th {
background-color:#c9d6e6;
color:#000;
text-align:right;
font-size:11px;
border:solid 1px #000;
padding:4px;
}

table.gcal-event td {
border:solid 1px #000;
padding:4px;
}

table.gcal-cat-legend {
border-color:#000;
border-style:solid;
border-width:1px;
padding:2px;
}

table.gcal-cat-legend td {
border:none;
}

div.lgl_menu {
text-align:center;
margin:10px;
}

table.attachtable {
font:normal 11px Verdana, Arial, Helvetica, sans-serif;
border-collapse:collapse;
}

h1 span,h3 span,h4 span {
font-weight:700;
}

ul.links,#menu ul {
list-style:none;
}

#main_inner .post,#primaryContent_columnless {
position:relative;
}

#secondaryContent_3columns,#secondaryContent_2columns {
float:right;
}

.gcal-error,form.gcal-event-form .error-label {
font-weight:700;
color:red;
}

form.gcal-event-form legend,form.gcal-event-form .normal-label {
font-weight:700;
color:#000;
}

table.gcal-block-cal a:link,table.gcal-block-cal a:visited,table.gcal-block-cal a:hover,table.gcal-block-cal a:active,table.gcal-block-events a:link,table.gcal-block-events a:visited,table.gcal-block-events a:hover,table.gcal-block-events a:active,table.gcal-month a:link,table.gcal-month a:visited,table.gcal-month a:hover,table.gcal-month a:active,table.gcal-month a.day-link:link,table.gcal-month a.day-link:visited,table.gcal-month a.day-link:hover,table.gcal-month a.day-link:active {
text-decoration:underline;
}

table.gcal-event caption,table.gcal-cat-legend caption {
padding-bottom:5px;
font-weight:700;
font-size:11px;
margin:2px;
}

td.attachrow,td.attachheader {
font:bold 11px "trebuchet ms", helvetica, sans-serif;
}
/* DEFAULT CSS OVERRIDES */
ul.ul-circle li,ul.rn-ul ul.ul-circle li{background-position:0 2px}
ul.rn-ul li{background-position:0 2px}
/* Ordered List Sprites (required for IE7 and floating LI)*/
/* Shift Default Position of sprites */
.bnum1{background-position:0 -1px}
.bnum2{background-position:0 -103px}
.bnum3{background-position:0 -205px}
.bnum4{background-position:0 -307px}
.bnum5{background-position:0 -409px}
.bnum6{background-position:0 -511px}
.bnum7{background-position:0 -613px}
.bnum8{background-position:0 -715px}
.bnum9{background-position:0 -817px}
.bnum10{background-position:0 -919px}
.bnum11{background-position:0 -1021px}
.bnum12{background-position:0 -1123px}
.bnum13{background-position:0 -1225px}
.bnum14{background-position:0 -1327px}
.bnum15{background-position:0 -1429px}
.bnum16{background-position:0 -1531px}
.bnum17{background-position:0 -1633px}
.bnum18{background-position:0 -1735px}
.bnum19{background-position:0 -1837px}
.bnum20{background-position:0 -1949px}
/* Center Block List Styling */
#columnA_3columns .block-spacer{margin:0 0 16px 0}
.ul-box-center.block-modules ul.rn-ul li{min-width:100px}
.ul-box.block-feeds li.rn-list.li-first {float:left}
.ul-box.block-old_articles li.rn-list.li-even,.ul-box.block-old_articles li.rn-list.li-odd,.ul-box.block-feeds li.rn-list.li-even,.ul-box.block-feeds li.rn-list.li-odd,.ul-box.block-last_5_articles li.rn-list.li-even,.ul-box.block-last_5_articles li.rn-list.li-odd{float:left;margin-top:4px;}
