.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #0000ff;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: #6688BB;
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);
opacity: 0.8;
}