/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:16px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(images/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(images/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;left: 50%;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */
.centerstar{width:90px; margin:0px auto;}
.centerstars{width:99px; margin:0px auto;}
/*News*/
.infobox {position:absolute;width:73px;padding:3px;margin-top:-2px;}
.infobox .more {display:none;}
.infobox:hover .more {display:block;position:absolute;top:15px;left:-90px;padding:3px;}
.tagindex {font-size:11px;}
.newsicon {background: url('images/link.png');}
.newsposition {float:right;margin:1px;}
.comment {
background-position:0 0; width: 16px; height: 16px;
}
.more {
background-position:0 -18px; width: 16px; height: 16px;
}
.mail {
background-position:0 -36px; width: 16px; height: 16px;
}
.pdf {
background-position:0 -54px; width: 16px; height: 16px;
}
.print {
background-position:0 -72px; width: 16px; height: 16px;
}
.readmore {
background-position:0 -90px; width: 16px; height: 16px;
}
.rated {
background-position:0 -108px; width: 16px; height: 16px;
}
.qreply {
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border: none;
}
.toncentertxt {
text-align:center;
}
.toncenterdiv {
margin:0 auto;
width:100%;
}
.tonheaderclass2{
   margin-left: 5px;
   margin-right: 5px;
   padding:5px;
   font-weight:bold;
   border:1px solid #000000;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px; 	
  border-top-left-radius: 6px; 
   background:#000000;
   color:#FFFFFF;
   }
.tonheaderclass{
   margin-left: 5px;
   margin-right: 5px;
   padding:5px;
   font-weight:bold;
   border:1px solid #000000;
 -webkit-border-radius: 6px;
    -moz-border-radius: 6px; 
    border-radius: 6px;	
   background:#000000;
   color:#FFFFFF;
   }

.tonbodyclass2{
   margin-left: 5px;
   margin-right: 5px;
   padding:5px;
   border:1px solid #000000;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px; 	
  border-bottom-left-radius: 6px; 	
   background:#FFFFFF;
   color:#000000;
    }
.tonbodyclass{
   margin-left: 5px;
   margin-right: 5px;
   border:1px solid #000000;
 -webkit-border-radius: 6px;
    -moz-border-radius: 6px; 
    border-radius: 6px;	
   background:#FFFFFF;
   color:#000000;
    }