.class1 A:link {font-size:9px;}
.class1 A:visited {font-size:9px;}
.class1 A:active {font-size:9px;}
.class1 A:hover {font-size:9px;}

.class2 A:link {font-size:12px;}
.class2 A:visited {font-size:12px;}
.class2 A:active {font-size:12px;}
.class2 A:hover {font-size:12px;}

.class3 A:link {font-size:15px;}
.class3 A:visited {font-size:15px;}
.class3 A:active {font-size:15px;}
.class3 A:hover {font-size:15px;}

.class4 A:link {font-size:18px;}
.class4 A:visited {font-size:18px;}
.class4 A:active {font-size:18px;}
.class4 A:hover {font-size:18px;}

.class5 A:link {font-size:20px;}
.class5 A:visited {font-size:20px;}
.class5 A:active {font-size:20px;}
.class5 A:hover {font-size:20px;}
