table#nukeNAV{width:740px;margin-left:auto;margin-right:auto;}
table#nukeNAV td{padding-bottom:0;margin:0;}
table#nukeNAV tr{padding-bottom:0;margin:0;}
.nukeNAV a{border:0;font-size: 10px;}
.nukeNAV a,.nukeNAV a:visited{color:#fff;}
.nukeNAV li:hover,.nukeNAV li.sfHover,.nukeNAV a:focus,.nukeNAV a:hover,.nukeNAV a:active{background:#dbe1e7;color:#CC0001;outline:0;}
.nukeNAV li,.nukeNAV li li,.nukeNAV li li li{background:#006d96;}
.sf-sub-indicator{background:url(../../../includes/jquery/css/images/arrows-ffffff.png) no-repeat -10px -100px;}
.nukeNAVmod{font-size:12px;}
.nukeNAVmod,.nukeNAVmod li{width:198px;}
.nukeNAVmod a,.nukeNAVmod a:visited{color:#026889;}
.nukeNAVmod li:hover,.nukeNAVmod li.sfHover,.nukeNAVmod a:focus,.nukeNAVmod a:hover,.nukeNAVmod a:active{color:#CC0001;background:#eee;outline:0;}
.nukeNAVmod li:hover ul,.nukeNAVmod li.sfHover ul{z-index:99;left:198px;top:0;}
.nukeNAVmod li,.nukeNAVmod li li,.nukeNAVmod li li li{background:#f3f3f3;border-bottom:thin dashed #bfbfbf;}
.nukeNAVmod li li,.nukeNAVmod li li li{padding:2;margin:0;}
.nukeNAV-center.nukeNAVmod,.nukeNAV-center.nukeNAVmod ul{width:100%;}
.nukeNAV-center.nukeNAVmod li.li-first,.nukeNAV-center.nukeNAVmod li.li-next,.nukeNAV-center.nukeNAVmod li ul li:first-child{border-top:thin dashed #bfbfbf;}
.nukeNAV-center.nukeNAVmod li{float:left;width:250px;margin-left:0;padding-left:2%;border-right:thin dashed #f3f3f3;border-left:thin dashed #f3f3f3;}
.nukeNAV-center.nukeNAVmod li:hover {border-left:thin dashed #bfbfbf;border-right:thin dashed #bfbfbf;}
.nukeNAV-center.nukeNAVmod li.li-even {margin-left:0;padding-left:11px}
.nukeNAV-center.nukeNAVmod li ul{width:14em;}
.nukeNAV-center.nukeNAVmod li ul li{width:100%;float:none;margin-left:0;}
/* open the hover menu on the correct side for right/left blocks */
.sidebarr .nukeNAVmod li:hover ul,.sidebarr .nukeNAVmod li.sfHover ul{left:-14.5em;top:0;} /* right column */
.sidebar .nukeNAVmod li:hover ul,.sidebar .nukeNAVmod li.sfHover ul{left:100%;top:0;}  /* left column */
